* {
  background-color: #333;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  /* border: #000 2px solid; */
  padding: 30px 60px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 600px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: #a02828;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  margin: 0 0 10px 0;
}

.inp {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input {
  background-color: #f5ece8a9;
  outline: none;
  border: none;
  border-radius: 15px;
  width: 90%;
  margin-left: 20px;
  padding: 12px;
  margin-right: 6px;
  transition: 0.3s all ease;
  cursor: text;
  color: #000;
}

#input:focus {
  outline: 1px solid #00f;
}

#btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  background-color: #a02828;
  transition: 0.1s all ease;
}

#btn:hover {
  transform: scale(1.1);
}

.tasks {
  background-color: transparent;
  font-weight: 80;
  font-size: 21px;
  padding: 10px;
  border: 2px solid #000;
  margin-top: 30px;
  border-radius: 20px;
}

.tasks h1 {
  padding: 10px;
  background-color: transparent;
  text-align: center;
  margin-top: -10px;
  color: #000;
  /* border: 1px solid #000; */
}

#tasks-list {
  /* display: block; */
  padding: 2px 10px;
  margin: 10px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#tasks-list li {
  background: transparent;
  list-style: none;
  padding-top: 10px;
  padding-left: 40px;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  color: #000;
}

#tasks-list li::before {
  content: "";
  position: absolute;
  background: url("./imgs/png-clipart-checkbox-rectangle-square-computer-icons-checkboxes-angle-check-mark-thumbnail.png")
    center/cover;
  width: 30px;
  height: 30px;
  left: 0;
  /* margin-right: 30px; */
  cursor: pointer;
}

#tasks-list li span {
  background: transparent;
  color: #000;
  position: absolute;
  /* left: 0; */
  right: 0;
  font-size: 27px;
  /* top: -px; */
  cursor: pointer;
}

#tasks-list li.checked {
  text-decoration: line-through;
}

#tasks-list li.checked::before {
  background: url("./imgs/images.png") center/cover;
}
